.movieItem {
  display: flex;
  border-bottom: solid gray 1px;
  padding: 10px;
  cursor: pointer;
}

.movieDetails {
  padding-left: 10px;
  padding-right: 10px;
}
.overview {
  padding-top: 10px;
  font-size: 12px;
}

.detail {
  padding-top: 5px;
}

.poster {
  width: 45px;
}